.stocks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.stocks__card-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  row-gap: 3vw;
  align-items: center;
}
.stocks-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.stocks__heading {
  margin-top: 42px;
}
.stock__right-seaction-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.stocks__show-more-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.show-more-btn {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
  font-size: 14px;
  transition: 150ms ease-out;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.show-more-btn:hover {
  font-weight: 500;
  border-bottom: 2px solid black;
}
.show-more-btn:active {
  scale: 0.9;
}

@media only screen and (max-width: 1000px) {
  .stocks__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr max-content;
  }
}
@media only screen and (max-width: 700px) {
  .stocks__card-container {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}
@media only screen and (max-width: 470px) {
  .stocks__card-container {
    display: grid;
    grid-template-columns: 0.5fr;
    align-items: center;
    justify-content: center;
  }
}
