.home {
  display: flex;
  height: 100vh;
}
.home__heading-container {
  margin-top: 42px;
}
.home__sub-heading-container {
  margin-top: 48px;
}
.home__left-section {
  height: 100%;
  width: 62vw;
  background-color: #99a7ff;
  background-image: radial-gradient(
      at 72% 33%,
      hsla(222, 76%, 76%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 3% 72%, hsla(300, 64%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 88%, hsla(329, 90%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 49% 95%, hsla(303, 72%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 20%, hsla(336, 96%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 66%, hsla(17, 85%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 83%, hsla(255, 60%, 79%, 1) 0px, transparent 50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home__hand {
  width: auto;
  height: 260px;
}
.home__hand-container {
  width: 118%;
  display: flex;
  justify-content: flex-end;
}
.home__input {
  margin-top: 100px;
}
@media only screen and (max-width: 1000px) {
  .home,
  .stocks,
  .watchlist,
  .about,
  .details {
    display: flex;
    flex-direction: row-reverse;
  }
  .home__left-section {
    width: 100vw;
  }
}

@media only screen and (max-width: 580px) {
  .home__hand {
    position: relative;
    left: 6vw;
  }
}
@media only screen and (max-width: 450px) {
  .home__hand {
    height: 200px;
    top: 60px;
  }
}
@media only screen and (max-width: 450px) {
  .home__hand {
    height: 200px;
    left: 25vw;
  }
}
