.left-section {
  width: 62vw;
  overflow-y: scroll;
  height: 100vh;
  padding: 16px 42px 0px 42px;
  background-color: transparent;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.left-section::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .left-section {
    width: 100vw;
  }
}
